* {
    font-family: 'Roboto', sans-serif !important;
}

html {
	line-height: 1.6 !important;
      -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
    height:100% !important;
}

h1, h2, h3, h4, h5 {
	line-height: 1.2 !important;
}

#content-3 {
    display: block;
}

#content3scroll {
    display: none;
}

#footer {
    background: #222;
    padding: 2em 0em;
    width: 100%;
    text-align: center;
} 
h6.footer {
    color: white;
    font-weight: 400;
}

h3.main {
        font-size: 4em;
        color:white;
        margin-bottom: 40px;
        transition: 0.4s ease-in-out;
    }
    
    .content3content {
        text-align: center;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    
    .contentboxheader {
        text-align: center;
        grid-area: year;
    }

.contentboxinfowrapper {
    grid-area: info;
}
    
    h2.year {
        font-weight: 800;
        color:#0f9494;
        font-size: 6.2em;
        margin-bottom: 30px;
    }
    
    p.info {
        font-size: 1em;
        color:#aaa;
        line-height: 2em;
    }
    
    .contentbox {
        width:100%;
        background-color: #eeeeee;
        padding:3em 2.5em;
        box-sizing: border-box;
        text-align: justify
    }
    
    .contentbox2 {
        width:100%;
        background-color: #ddd;
        padding:3em 2.5em;
        box-sizing: border-box;
        text-align: justify
    }
      .absolute {
        width: 50%;
        position: absolute;
    }
    
    .infoline {
        height:2px;
        width: 100%;
        display: block;
        background-color: #e6e6e6;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .infoline2 {
        height:2px;
        width: 100%;
        display: block;
        background-color: #d5d5d5;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .authorBox {
        background: #222222;
        display: block;
        width: 100%;
        position: relative;

        
    }
    
    .authorContent {
        padding:1.5em 2em;
        box-sizing: border-box;
    }
    
    h5.author {
        color: #fff;
        font-weight: 600;
        font-size: 1.5em;
    }
    
    h5.authorRole {
        color: #d53362;
        font-weight: 600;
        font-size: 1.3em;
    }
    
    p.authorQuote {
        color:#444;
        font-style: italic;
        margin-top: 20px;
        font-size: 1.0em;
        line-height: 1.5em;
    }
    
    .personImg1 {
        height:100%;
        width: 100%;
        background-size: cover;
        background-position: -10px;
        background-image: url(../img/person1.png);

    }

    .personContainer {
        height: auto;
        position: relative;
    }
    
    .imgg {
        height: 100%;
        text-align: right;
    }
    
    .cricle {
    }
    
    .gridTest {
        display: grid;
        grid-template-columns: 3fr 1fr;
        border-left:15px solid #d53362;
        margin-top: 60px;
        margin-bottom: 60px;
    }

#gridContainer {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "navbar"
        "content1"
        "content2"
        "content3";
}

.gridTest {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
}

#content-3 {
    grid-area: content3
}

#content3box1 {
    grid-area: content3box1
}

#content3box2 {
    grid-area: content3box2
}

#content3box3 {
    grid-area: content3box3
}

#content3box4 {
    grid-area: content3box4
}

#navbarContentHamburger {
    background-image: url(../img/657904-64.png);
    background-size: contain;
    z-index: 8;
    position: fixed;
    width: 23px;
    height: 20px;
    top: 16px;
    left:20px;
}

#content3box1 {
    grid-area: 
}


.open {
    width: 100% !important;
    transition: 0.4s;
    z-index: 2;
}

#sidebar {
    transition: 0.4s;
position: fixed;
    height: 100%;
    width: 0%;
    background: #222;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    overflow: hidden;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #0f9494;
    grid-area: navbar;
  box-shadow: 0 3px 28px rgba(0,0,0,0.25), 0 2px 10px rgba(0,0,0,0.22);
}


.container {
    margin: 0 auto;
    padding: 0em 2.5em;
}

.navcontainer {
    margin: 0 auto;
    padding: 0em 1.5em;
}

#navbarContent {
    padding: 0.9em 0em;
    position: relative;
    font-size: 18px;
    color:#fff;
    font-weight: 600;
    display:grid;
    grid-template-columns: 8% 92%;
}

#content1content {
    text-align: center;
    color:white;
    padding: 4em 0em;
}

#navbarContentMenu {
    margin-left: 30px;
}


#content1header {
    margin-bottom: 20px;
}

p.main {
    font-size: 1em;
}

p.third {
    line-height: 2em;
    color:#888;
    font-size: 1.0em;
    text-align: left;
}
p.second {
    line-height: 2em;
    color:#444;
    font-size: 1.05em
}

h1.main {
    font-weight: 700;
    font-size: 2em;
}

h2.main {
    font-weight: 500;
    font-size: 1.5em;
    color: #0f9494;
}

#content-1 {
    grid-area: content1;
    margin-top: 49px;
    background:linear-gradient(
                     rgba(20,20,20, .3), 
                     rgba(20,20,20, .3)), url(../img/coverimage.jpeg);
    background-attachment: scroll;
    background-size: cover;
}

#content-2 {
    grid-area: content2;
}
#content2content {
    text-align: center;
    padding:5em 0em;
}

.content2about{
    padding: 1em 0em;
}




#content2button {
    padding: 1em 0em;
}

#content2{
    grid-area: content2button;
    border:0;
    background-color: #d53362;
    color: white;
    font-weight: 600;
    font-size: 1.3em;
    padding: 0.2em 1em;
    border-radius: 15px;
}

.spanLine {
    margin: 19px auto;
    border-radius: 10px;
    text-align: center;
    background: #d53362;
    height:7px;
    width:90px;
    display: block;
}

.spanLine2 {
    margin: 19px auto;
    border-radius: 10px;
    text-align: center;
    background: #c4c4c4;
    height:7px;
    width:90px;
    display: block;
}

#useMobile {
    display: none;
}

.wrap1 {
    display: none;
}

#desktopNavbar {
    display: none;
}

    ul.sideNav {
        margin-top: 70px;
        list-style: none;
    }
    

    li.sideNav a {
        color:white;
        text-decoration: none;
        display: block;
        padding: 2em 1em;
        transition: 0.4s ease;
        border-bottom: 1px solid #111;
    }
    
    li.sideNav a:last-of-type {
        border-right: 1px solid #111;
    }
    
    li.sideNav a:hover {
        background-color: #d53362;
        transition: 0.4s ease;
    }
    
    .active {
        background-color: #d53362;
    }


.box1{
    display: none;
}

#content3tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#whatwedone {
    background-color: #d53362;
    text-align: center;
    padding:1em 0em;
    color:white;
}

h3.whatwedone {
    font-weight: 500;
    font-size: 1.5em;
}

.tablinks {
    color:white;
    border-left: 3px solid #b1244d;
    border-right: none;
    border-top: none;
    border-bottom: none;
    height:40px;
    background:#d53362;
}

.tablinks:last-of-type {
    border-right: 3px solid #b1244d;
}
@media (min-width:768px) {
    #gridContainer {
        grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "desktopnav desktopnav"
        "content1 content1"
        "content2 content2"
        "content3 content3"
}
    #desktopNavbar {
        display: block;
        position: fixed;
        width: 100%;
        top:0;
        transition: 0.4s;
        z-index: 6;
    }
    .container {
        max-width: 950px;
        padding:0;
    }
    
    #content-1 {
        margin-top: 0px;
    }
    
    #content2button {
        grid-area: content2button;
        text-align: center;
    }
    
    #content2 {
        border-radius: 5px;
        font-size: 1em;
        padding:0;
        width: 100%;
        height:40px; 
    }
    
    .content2container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-column-gap: 2em;
        grid-template-areas: 
            "wrap1 wrap2"
            "wrap1 content2button"
    }
    
    #content1content {
        padding: 13em;
    }
    
    p.main {
    font-size: 1em;
}

    p.third {
        line-height: 2em;
        color:#888;
        font-size: 1.0em;
        text-align: left;
    }
    p.second {
        line-height: 2em;
        color:#444;
        font-size: 1.05em
    }

    h1.main {
        font-weight: 700;
        font-size: 4em;
    }

    .wrap1 {
    grid-area: wrap1;
        display: block;
}

    .wrap2 {
    grid-area: wrap2;
}    
    #navbar {
        display: none;
    }
    
    h2.main {
        font-weight: 500;
        font-size: 1.5em;
        color: #0f9494;
    }
    
    #desktopNavbar {
        background-color: #0f9494;
          box-shadow: 0 3px 28px rgba(0,0,0,0.25), 0 2px 10px rgba(0,0,0,0.22);
        grid-area: desktopnav
    }
    
    .desktopnavcontainer {
        margin:0 auto;
        max-width: 950px;
        text-align: right;
    }
    
    ul.mainNav {
        list-style: none;
    }
    
    li.mainNav {
        display: inline-block;
    }
    
    li.mainNav a {
        color:white;
        text-decoration: none;
        display: block;
        padding: 2em 1em;
        transition: 0.4s ease;
        border-left: 1px solid #0c7575;
    }
    
    li.mainNav a:last-of-type {
        border-right: 1px solid #0c7575;
    }
    
    li.mainNav a:hover {
        background-color: #d53362;
        transition: 0.4s ease;
    }
    
    .active {
        background-color: #d53362;
    }
    
    #content-3 {
        grid-area: content3;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
    }
    
    .fixed {
        position: fixed !important;
        right:0 !important;
        width: 50%;
    }
    
    .absolute {
        width: 50%;
        position: absolute;
    }
    
    .fixed2 {
        opacity: 0.7;
        transition: 0.4s;
        background-color: #222 !important;
    }
    
    #content3scroll {
        background-image: url(../img/coverimage.jpeg);
        height: 100vh;
        background-size: cover;
        position: relative;
        right:0;
        bottom:0;
        z-index: 4;
        display: block;
    }
    
    .red {
        color:#d53362 !important;
        font-weight: 500;
        transition: 0.4s ease-in-out;
  background: rgba(0, 0, 0, 0.2);
    }
    
    h3.main {
        font-size: 4em;
        color:white;
        margin-bottom: 40px;
        transition: 0.4s ease-in-out;
    }
    
    .content3content {
        text-align: center;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    
    .contentboxheader {
        text-align: center;
    }
    
    h2.year {
        font-weight: 800;
        color:#0f9494;
        font-size: 9.2em;
        margin-bottom: 30px;
    }
    
    p.info {
        font-size: 1.5em;
        color:#aaa;
        line-height: 2em;
    }
    
    .contentbox {
        width:100%;
        background-color: #eeeeee;
        padding:3em 5em;
        box-sizing: border-box;
        text-align: justify
    }
    
    .contentbox2 {
        width:100%;
        background-color: #ddd;
                padding:3em 5em;
                box-sizing: border-box;
        text-align: justify
    }
    
    .infoline {
        height:2px;
        width: 100%;
        display: block;
        background-color: #e6e6e6;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .infoline2 {
        height:2px;
        width: 100%;
        display: block;
        background-color: #d5d5d5;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .authorBox {
        background: #222222;
        display: block;
        width: 100%;
        
        position: relative;

        
    }
    
    .authorContent {
        padding:1.5em 2em;
        box-sizing: border-box;
    }
    
    h5.author {
        color: #fff;
        font-weight: 600;
        font-size: 1.5em;
    }
    
    h5.authorRole {
        color: #d53362;
        font-weight: 600;
        font-size: 1.3em;
    }
    
    p.authorQuote {
        color:#444;
        font-style: italic;
        margin-top: 20px;
        font-size: 1.1em;
        line-height: 1.5em;
    }
    
    .personImg1 {
        height:100%;
        width: 80%;
        background-size: cover;
        background-image: url(../img/person1.png);
                background-position: auto;

    }

    .personContainer {
        height: auto;
        position: relative;
    }
    
    .imgg {
        height: 100%;
        text-align: right;
    }
    
    .cricle {
    }
    
    .gridTest {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;
        border-left:15px solid #d53362;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    #content3tabs {
        display: none;
    }
    
    #whatwedone {
        display: none;
    }
    
    .box1 {
        display: block;
    }
    
    
}